* {
    padding: 0;
    margin: 0;
    /*border: 1px solid black;*/
}

/*------ Primera página ----*/

/*body {
    background-image: url(imgCipher/stacked-waves.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;

    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vW;
    overflow: hidden;*/
}

.logo {
    margin: 1%;
    cursor: pointer;
}

.primera-pagina {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mostrar-pagina {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h1 {
    align-items: center;
    color: white;
    display: flex;
    font-size: 30px;
    text-align: center;
    width: 550px;
}

h3 {
    align-items: center;
    color: #242F9B;
    display: flex;
    font-size: 25px;
    text-align: center;
    width: 520px;
}

button {
    background-color: #242F9B;
    border: 0;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding: 15px 20px;
    margin: 35px 0;
}
 
button:hover {
    background-color: #9BA3EB;
}

.imagen-phone {
    margin: 2%;
    width: 600px;
}

/*----------Segunda página------*/

.segunda-pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 85vh;
}

.pagina-codigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 30px;
    text-align: center;
    color: #9BA3EB; 
}

p{
    width: 1000px;
    font-size: 20px;
    text-align: center;
    color:#242F9B
}


input, textarea {
    width: 150px;
    height: 50px;
    background: #DBDFFD;
    border-radius: 10px;
    text-align: left;
    font-size: 10px;
}

textarea{
    width: 350px;
    height: 130px;
    padding: 1%;
    text-align: center;
}

.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


