* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*border: 1px solid black;*/

}

body {
    background-image: url(imgCipher/stacked-waves-back.svg);
    background-repeat: no-repeat;
    background-size: cover;

    font-family: Arial, Helvetica, sans-serif;
}
/*------ Nav----*/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 60px;
    background-color: #9BA3EB;
}

.lista-nav {
    display: flex;
    align-items: center;
    justify-content: center;

    list-style: none;
    padding: 0;
    font-size: 20px;
    margin-right: 20px;
}

li {
    height: 60px;
    width: 150px;
    padding: 15px 25px;
    margin: 0;
    text-align: center;
}

li a{
    color: white;
    text-decoration: none;
}

a:hover {
    color: #242F9B ;
}

.logo-imagen {
    margin-left: 20px;
}

/*----- Primera pagina-----*/

.primera-pagina {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 20px;
}

.imagen-inicial {
    width: 50%;
}

h1 {
    color: white;
    font-size: 32px;
    text-align: center;
    margin: 50px 0px;
     
}

h3 {
    color: #242F9B;
    font-size: 24px;
    text-align: center;
    margin: 20px 40px;
}

.contenido-inicial {
    display: flex;
    flex-direction: column;
}

.boton-inicio {
    width: 120px;
    height: 52px;
    margin-left: 330px;
    margin-top: 100px;
}

.boton-inicio a {
    color: white;
    text-decoration: none;
}

button, #boton-inicio {
    background-color: #242F9B;
    border: 0;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding: 15px 20px;
    margin: 20px 0;
}
 
button:hover {
    background-color: #6874e0;
}

/*----------Segunda página------*/

.segunda-pagina {
    margin: 30px 10px;
    /*height: 800px;*/
}

div .contenido-segundo {
    margin: 20px;
    /*height: 45%;*/

}

.contenido-principal {
    display: flex;
    flex-direction: row;
    margin: 20px 100px;
}

.contenido-principal div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding: 20px;
}

.box {
    background-color: #9BA3EB;
    border: 2px solid #6874e0;
    border-radius: 12px;
    box-shadow: 0 0 4px 4px #777fc4;

}

div .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    width: 100%;
}

.box button {
    width: 100px;
    height: 50;
    font-size: 16px;
    padding: 10px;
    margin: 10px 4px;
    border-radius: 8px;
}

#imagen-msm {
    width: 80%;
    margin: 20px 45px;
}

h2 {
    font-size: 25px;
    text-align: center;
    color: #242F9B; 
    /*margin-top: 20px;
    margin-bottom: 10px;*/
    margin: 20px 50px;
    padding-right: 350px;
    
}

h4 {
    font-size: 18px;
    text-align: center;
    color:#242F9B
}

p {
    font-size: 16px;
    font-weight: bold;
    color: rbg(230, 82, 82);
    text-align: center;
    color: rgb(243, 70, 70);
}

textarea {
    width: 300px;
    height: 80px;
    padding: 5px;
    font-size: 15px;
    background-color: #DBDFFD;
    border-radius: 12px;
    border: 2px solid #9BA3EB;
}

label {
    padding: 10px;
    margin: 5px;
    text-align: center;
    color: #242F9B;
    font-size: 16px;
    font-weight: bold;
}

#offSet {
    width: 100px;
    height: 35px;
    font-size: 15px;
    text-align: center;
    background-color: #DBDFFD;
    border-radius: 8px;
    border: 2px solid #9BA3EB;    
}

.bienvenida {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
#iconoVolver {
    width: 40px;
    cursor: pointer;
    margin-right: 200px;
}

#footerContent {
    font-size: 12px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

